#buttonpanel {
	display:inline-block;
	vertical-align: top;
	padding-top: 30px;
}

#charts {
	display:inline-block;
	margin-left: 0px;
}

//.dayButton {
//	width: 45px;
//}


.chartContainer {
	width: 600px;
	height: 360px;
}

input.dayButton {
  font: arial;
  width: 100px;
  height: 30px;
  text-align: center;
  margin: 3px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #74a022;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#8cc229), to(#74a022));
  background-image: -moz-linear-gradient(top, #8cc229, #74a022);
  background-image: -ms-linear-gradient(top, #8cc229, #74a022);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8cc229), color-stop(100%, #74a022));
  background-image: -webkit-linear-gradient(top, #8cc229, #74a022);
  background-image: -o-linear-gradient(top, #8cc229, #74a022);
  background-image: linear-gradient(top, #8cc229, #74a022);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cc229', endColorstr='#74a022', GradientType=0);
  background-color: #74a022;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#8cc229), to(#74a022));
  background-image: -moz-linear-gradient(top, #8cc229, #74a022);
  background-image: -ms-linear-gradient(top, #8cc229, #74a022);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8cc229), color-stop(100%, #74a022));
  background-image: -webkit-linear-gradient(top, #8cc229, #74a022);
  background-image: -o-linear-gradient(top, #8cc229, #74a022);
  background-image: linear-gradient(top, #8cc229, #74a022);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cc229', endColorstr='#74a022', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #74a022 #74a022 #466115;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #74a022;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#8cc229), to(#74a022));
  background-image: -moz-linear-gradient(top, #8cc229, #74a022);
  background-image: -ms-linear-gradient(top, #8cc229, #74a022);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8cc229), color-stop(100%, #74a022));
  background-image: -webkit-linear-gradient(top, #8cc229, #74a022);
  background-image: -o-linear-gradient(top, #8cc229, #74a022);
  background-image: linear-gradient(top, #8cc229, #74a022);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cc229', endColorstr='#74a022', GradientType=0);
  background-color: #74a022;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#8cc229), to(#74a022));
  background-image: -moz-linear-gradient(top, #8cc229, #74a022);
  background-image: -ms-linear-gradient(top, #8cc229, #74a022);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8cc229), color-stop(100%, #74a022));
  background-image: -webkit-linear-gradient(top, #8cc229, #74a022);
  background-image: -o-linear-gradient(top, #8cc229, #74a022);
  background-image: linear-gradient(top, #8cc229, #74a022);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cc229', endColorstr='#74a022', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #74a022 #74a022 #466115;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}



.dayButton:hover {
    background-image: -khtml-gradient(linear, left top, left bottom, from(#5C8A8B), to(#00668D));
    background-image: -moz-linear-gradient(top, #5C8A8B, #00668D);
    background-image: -ms-linear-gradient(top, #5C8A8B, #00668D);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5C8A8B), color-stop(100%, #00668D));
    background-image: -webkit-linear-gradient(top, #5C8A8B, #00668D);
    background-image: -o-linear-gradient(top, #5C8A8B, #00668D);
    background-image: linear-gradient(top, #5C8A8B, #00668D);
}

.dayButton.active {
	font-weight: bold;
	background: none;
 	color: #4B8D40;
 	font-weight: bold;
}

.hero-unit {
	padding: 0;
	background: none;
}


#schedules {
	margin-left: 0px;
}

.scheduleCategory {
	font-size: 10px;
}

#dayOfWeek {
	font-weight: bold;
	font-size: 14px;
}

.scheduleTime {
	font-size: 18px;
	color: green;
}

.schedulePoint {
	font-size: 30px;
	color: blue;
	text-align: center;
	margin-top: 20px;
}

#update {
	width: 250px;
	height: 80px;
	font-size: 18px;
}

#thismuch {
	color: green;
	font-size: 54px;
	height: 75px;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 40px;
}
